.nav-link-typography, header a {
  color: #837D88;
  text-align: center;
  font-family: Karla;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.5px;
}
@media (max-width: 768px) {
  .nav-link-typography, header a {
    font-size: 10px;
  }
}
@media (max-width: 600px) {
  .nav-link-typography, header a {
    font-size: 20px;
    color: #FFF;
    line-height: 40px;
    letter-spacing: 1.364px;
  }
}

header a:hover {
  color: #2C2830;
}

.hero h1 {
  color: #FFF;
  font-family: "DM Serif Display";
  font-size: 7.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 64px; /* 88.889% */
  letter-spacing: -1px;
}
.hero p {
  color: #FFF;
  font-family: Karla;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.hero .hero-btn:hover {
  background-color: #FFF;
  color: #2C2830;
  cursor: pointer;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media (max-width: 700px) {
  html {
    font-size: 50%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  font-size: 1.6rem;
}

.container {
  max-width: 1111px;
  margin: 0 auto;
}
@media (max-width: 700px) {
  .container {
    width: 100%;
  }
}

.header-outer {
  width: 100%;
  position: relative;
  z-index: 4;
  background-color: #FFF;
}

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #FFF;
  align-items: center;
  padding: 20px 0;
  position: relative;
  z-index: 5;
}
header .logo {
  width: 111.219px;
  height: 18px;
  flex-shrink: 0;
}

.menu li {
  display: inline-block;
}
.menu li a {
  display: inline-block;
  text-decoration: none;
  padding: 1.35rem 2.5rem;
  text-wrap: nowrap;
}
.menu li a.nav-link-btn {
  display: inline-block;
  border: 1.5px solid #2C2830;
}
.menu li a.nav-link-btn:hover {
  cursor: pointer;
  background-color: #2C2830;
  color: #FFF;
}
@media (max-width: 600px) {
  .menu li a.nav-link-btn {
    width: 327px;
    height: 56px;
    border: 1.5px solid #FFF;
    background-color: #2C2830;
    color: #FFF;
  }
}
@media (max-width: 600px) {
  .menu li {
    display: block;
  }
}

.hero-outer {
  max-width: 100%;
  background-color: #2D2641;
  position: relative;
  height: 600px;
}
.hero-outer img#intro-left-bg {
  position: absolute;
  top: 414px;
  left: 0;
}
.hero-outer img#intro-right-bg {
  position: absolute;
  right: -151px;
  top: -80px;
  z-index: 1;
}

.hero {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 105px 650px;
  position: relative;
}
.hero .hero-content {
  grid-column: 1/2;
  grid-row: 1/2;
}
.hero .hero-content .hero-text-content {
  width: 540px;
  height: 304px;
  flex-shrink: 0;
  margin: 105px 0px 127px 0px;
}
.hero .hero-content .hero-text-content .horizontal-line {
  content: "";
  width: 150px;
  height: 1px;
  background-color: #FFF;
  margin-bottom: 63px;
}
.hero .hero-content .hero-text-content h1 {
  flex-shrink: 0;
  margin-bottom: 18px;
  padding-right: 50px;
}
.hero .hero-content .hero-text-content p {
  width: 540px;
  height: 84px;
  flex-shrink: 0;
  margin-bottom: 24px;
}
.hero .hero-img {
  grid-column: 2/3;
  grid-row: 2/3;
}

@media (max-width: 700px) {
  .hero {
    display: block;
  }
  .hero .hero-img {
    width: 100%;
    margin-top: 0;
  }
}
.nav-button, .hero-btn {
  border: 1.5px solid #2C2830;
  margin-left: 7px;
  width: 146px;
  height: 40px;
  flex-shrink: 0;
}
@media (max-width: 600px) {
  .nav-button, .hero-btn {
    align-self: center;
    border: 1.5px solid #FFF;
    width: 327px;
    height: 56px;
  }
}

.hero-btn {
  background-color: #2D2641;
  color: #FFF;
  border: 1.5px solid #FFF;
}