@use 'base/variables' as *;


header{
    // border : 1px solid blue;
    display : flex;
    gap : 548.78px;
    height : 80px;
    align-items: center;
    padding : 21px 165px 19px 168px;
    position : relative;
    @media(max-width : $large-view){
        gap : 35%;
        padding-left: 10%;
    }
    @media(max-width : $desktop-view){
        gap : 30%;
        padding-left: 4%;
    }
    @media(max-width : $tablet-view){
        gap : 20%;
    }
    @media(max-width : $mobile-view){
        gap : 75%;
        padding-left: 15%;
    }
    @media(max-width : 375px){
        padding-left: 24px;
        gap : 183px;
    }
    
    .hidden{
        display : none;
    }
    .logo{
        width: 111.219px;
        height: 18px;
        flex-shrink: 0;
    }
    .menu-icons{
        display : none;
        width: 32px;
        height: 32px;
        flex-shrink: 0;
        
        @media(max-width : $mobile-view){
            display: inline-block;
        }

        svg{
            display : none;

            &.hamburger-icon{
                @media(max-width : $mobile-view){
                    display : inline-block;
                }
            }
            &.cross-icon{
                display : none;
            }
        }
    }

    nav{
        // border : 1px solid red;
        display : flex;
        
        
        ul{
            display : flex;
            list-style: none;
            align-items: center;
            li{
                a{
                    text-decoration: none;
                    margin-right: 26px;
                    text-wrap: nowrap;//very important, prevents wrapping

                    @media(max-width : $tablet-view){
                        margin-right: 15px;
                    }
                    @media(max-width : $mobile-view){
                        display : inline-block; //a is inline element by default
                        margin-bottom: 24px;
                    }
                }
               
            }
            @media(max-width : $mobile-view){
                flex-direction: column;
            }
        }
        @media(max-width : $mobile-view){
            background-color: #2C2830 ;
            width : 100%;
            height: 587px;
            padding: 40px 24px 0 24px;
            flex-shrink: 0;
            flex-direction: column;
            background-image: url('/images/bg-pattern-mobile-nav.svg');
            background-repeat: no-repeat;
            background-position: bottom right;
            background-size: 100%;
            position : absolute;
            top : 80px;
            left : 0px;
        }
    }
}

