@use 'base/variables' as *;

.header-outer{
    width: 100%;
    position : relative;
    z-index : 4;
    background-color: #FFF;
    
}
header{
    display : flex;
    width : 100%;
    // gap : 548.78px;
    justify-content: space-between;
    background-color: #FFF;
    align-items: center;
    padding : 20px 0; //padding right is a no no in this case
    position : relative;
    z-index : 5;
   
    .logo{
        width: 111.219px;
        height: 18px;
        flex-shrink: 0;
    }
   
}

 
        
.menu{
           //no width and height, but work with padding.
           //padding allows clicking on a link without actually having to click on the link itself.
           //padding should not be fixed. Use responsive units like rem
        li{
            display : inline-block;
            a{
                display : inline-block;
                text-decoration: none;
                padding: 1.35rem 2.5rem;
                text-wrap: nowrap;//very important, prevents wrapping

               
                }
                a.nav-link-btn{
                    display : inline-block;
                    border: 1.5px solid #2C2830;
                

                    &:hover{
                        cursor : pointer;
                        background-color: #2C2830;
                        color: #FFF;
                    }
                    @media(max-width : $mobile-view){
                        width : 327px;
                        height : 56px;
                        border: 1.5px solid #FFF;
                        background-color: #2C2830;
                        color : #FFF;
                    }
                }
                @media(max-width : $mobile-view){
                    display : block;
                }
            }
            
        }
      
.hero-outer{
    max-width : 100%;
    background-color: #2D2641;
    position : relative;
    height : 600px; //is this correct?

    img#intro-left-bg{
        position : absolute;
        top : 414px;
        left : 0;
    }
    img#intro-right-bg{
        position : absolute;
        right : -151px;
        top : -80px; //75px + 5px
        z-index : 1;
    }
}
.hero{
    width : 100%;
    // height : 600px; //do not use fixed heights(in most cases)
    display : grid;
    
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 105px 650px;
    position : relative;

   

    .hero-content{
        grid-column: 1/2;
        grid-row: 1/2;
      
        .hero-text-content{
            width: 540px;
            height: 304px;
            flex-shrink: 0;
            margin: 105px 0px 127px 0px;
            .horizontal-line{
                content : '';
                width : 150px;
                height : 1px;
                background-color: #FFF;
                margin-bottom: 63px;
            }

            h1{
                flex-shrink: 0;
                margin-bottom: 18px;
                padding-right: 50px; //to control text wrapping (padding & margin bottom)
            }
            p{
                width: 540px;
                height: 84px;
                flex-shrink: 0;
                margin-bottom: 24px;
            }
        }

      
    }
    .hero-img{
        // width: 540px;
        // height: 650px;
        grid-column: 2/3;
        grid-row : 2/3;
    }
}

@media(max-width : 700px){
    .hero{
        display : block; //overrides flex and grid

        .hero-img{
            width : 100%;
            margin-top: 0;
        }
    }
}
